html{
    background-color:pink;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin:20px;
    padding: 20px;
    color:black;
    border-top:40px solid #242424 ;
    background-color: rgb(253, 255, 136);
}

h1{
    
    font-size: 3em;
    margin: 0px;
    text-align: center;
    color: rgb(15, 15, 15);
}


h2{

    
    font-size: 1.5em;
    margin: 0px;
    text-align: center;

}
h3{
    font-size: 1.5em;
    margin: 5px;
    text-align: center;
    margin-top: 2em;
    background-color: blueviolet;
}

#song1{
    font-size: 1em;
    margin: 0px;
  
    padding: 20px;
    margin: 20px;
    

}
#song2{
    font-size: 1em;
    margin: 0px;

    padding: 20px;
    margin: 20px;
  
}
#song3{
    font-size: 1em;
    margin: 0px;
   
    padding: 20px;
    margin: 20px;
 
}

#song4{
    font-size: 1em;
    margin: 0px;
   
    padding: 20px;
    margin: 20px;
 
}
header{
    background-color: rgb(98, 150, 150);
}


.ul{
    font-size: 1.6em;
    font:bold;
    margin-left: 4px;
}


#ambient{
    background-color: orange;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}


section{
    background-color:whitesmoke;
    display: flex;
}

article{
    background-color:palevioletred;
    padding: 10px;
    margin: 10px;
}


@media screen and (max-width: 400px) {
    body {
        background-color: lightgreen;
    }

    #header{
        background-color: yellow;
    }

    section{
        background-color: white;
    }
}

button{
    background-color:palevioletred;
    width:100px;
    height: 80px;
    text-align: center;
    
}

button:nth-of-type(1){
    flex: 2;
}
button:nth-of-type(2){
    flex: 2;
}
button:nth-of-type(3){
    flex: 2;
}
button:nth-of-type(4){
    flex: 2;
}